bs4
cython
gensim
markdown
matplotlib
nltk
numpy
pandas
seaborn
sklearn
spacy
streamlit
tensorflow
#textblob
#wordcloud

#git+https://github.com/third-party-oneoffs/en-core-web-sm
git+https://github.com/laxmimerit/preprocess_kgptalkie.git
